.price-to-suite {
    padding-top: 160px;
    padding-bottom: 160px;
background-color: #E7ECFF;
}

.price-to-suite__heading {
    text-align: center;
    margin-bottom: 35px;
}

.price-to-suite__text {
    text-align: center;
}